* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.container-Tienda{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". TopCategory."
    ". container-productos.";
    gap: 100px;
    margin-bottom: 200px;
}
.TopCategory{
    grid-area: TopCategory;
}
.TopCategory h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.TopCategory p.title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: #B16927;
    font-weight: 700;
    user-select: none;

}
.categorias-populares{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-productos{
    grid-area: container-productos;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: "categoriasTodas listaProductos";
}
.categoriasTodas{
    grid-area: categoriasTodas;
}
.categoriasTodas p{
    text-align: center;
    margin-bottom: 10px;
}
.categoriasTodas ul{
    margin-bottom: 50px;
}
.categoriasTodas ul.categoriaActual li{
    background-color: rgba(177, 106, 39, 0.75);
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    margin-bottom: 10px;
    user-select: none;
}
.categoriasTodas ul.categorias li{
    background-color: rgba(0, 0, 0, 0.08); 
    text-align: center;
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: background-color .9s ease;
    overflow: hidden;
}
.categoriasTodas ul.categorias li span{
    width: 0%;
    height: 1px;
    position: absolute;
    background-color: black;
    bottom: 0;
    transition: width 1s ease;
}
.categoriasTodas ul.categorias li:hover span{
    width: 100%; 
}
.categoriasTodas ul.categorias li:hover{
    background-color: rgba(0, 0, 0, 0.03); 
}
.listaProductos{
    grid-area: listaProductos;
    padding-left: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}