* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: #FBFBFB;
}

.container-Tienda {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". Title ."
        ". container-productos.";
    gap: 50px;
    margin-bottom: 200px;
}

.container-Tienda .title {
    grid-area: Title;
}

.title h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.title p.links,
p.links a {
    user-select: none;
    font-size: 24px;
    color: #707070;
}

.container-productos {
    grid-area: container-productos;
    display: grid;
    grid-template-columns: 260px 85%;
    grid-template-areas: "categoriasTodas listaProductos";
}

.categoriasTodas {
    grid-area: categoriasTodas;
    padding: 5px;
}

.categoriasTodas ul.categorias li {
    padding: 5px 10px;
    margin: 0;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: background-color .4s ease;
}

ul.categorias li a {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: .625rem .3125rem;
}

ul.categorias li a.actual p,
a.actual svg {
    color: #B16927;
    fill: #B16927;
}

.categoriasTodas ul.categorias li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.listaProductos {
    grid-area: listaProductos;
    padding-left: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
