@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.ds{
    background-color: firebrick;
    overflow: hidden;
}
.container {
    z-index: 99;
    position:fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;   
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.fade-in{
    animation-name: fadeIn;
}
.fade-out{
    animation-name: fadeOut;
}

.shoping-cart {
    background-color: white;
    border-left: 2px solid rgba(112, 112, 112, 0.3);
    width: 22.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    animation-duration: .8s; /* Duración de la animación del contenedor */
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.slideIn{
    animation-name: slideIn;
}
.slideOut{
    animation-name: slideOut;
}

.top {
    height: 85%;
    padding-top: 3.125rem;
    padding-right: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.top-title {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 18px;
}

.title-shoping-cart {
    padding-bottom: 1.25rem;
}

.items-title-shoping-cart {
    width: 100%;
    padding: .625rem 0;
    font-size: .875rem;
}

.list-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-bottom: 5px;
}

.list-products::-webkit-scrollbar {
    display:block;
    width: 3px;
}
.list-products::-webkit-scrollbar-thumb {
    background-color: rgba(177, 106, 39, 0.5);
}
.cart-product {
    user-select: none;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .625rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}


.cart-product .img {
    width: 8.5rem;
    height: 8.5rem;
    overflow: hidden;
    border-radius: .5rem;
}

.cart-product .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product .datos {
    flex-grow: 1;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
}
.close{
    position: absolute;
    padding-right: .4688rem;
    padding-top: .1875rem;
    right: 0;
    cursor: pointer;
}
.close:active{
    color: red;
}
.textos{
    max-width:110px ;
    margin-top: .875rem;
    align-content: center;
    flex-grow: 1;
    align-self: center;
    overflow: hidden;         
    white-space: nowrap;      
    position: relative;
}
.textos:hover .title-xl{
    height: 14px; 
    display: inline-block;
    animation: scroll 8s 1
}
.cart-product .datos div.flex-r:first-child {
    justify-content: space-between;
}

.c-707070 {
    color: #707070;
}

.c-B16927 {
    color: #B16927;
}

.line-through {
    text-decoration: line-through;
    margin-right: .625rem;
}

.cart-bottons {
    margin-top: auto;
    padding-right: 5%;
    padding-bottom: .625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cart-bottons button{
    cursor: pointer;
    display: flex;
    background-color: transparent;
}
.cart-bottons button:active{
    color: #B16927;
}


.skip {
    background-color: rgba(112, 112, 112, 0.2);
    height: 2px;
}

.bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.total-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 30px;
}

.boton-bottom {
    cursor: pointer;
    background-color: white;
    color: black;
    margin-right: 15px;
    margin-left: 30px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid black;
}
/*Animaciones*/
@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0%);  
    }
    50% { 
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}
