.grid-container {
    display: grid;
    grid-template-columns: 1fr minmax(1200px,1400px) 1fr;
    grid-template-rows: 700px auto auto;
    grid-template-areas:
        ". Slider ."
        ". SeccionCategorias ."
        ". SeccionProducto .";
    gap: 50px;
    margin-bottom: 200px;
    padding-top: 79px;
}

.grid-container .row1 {
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1/-1;
    background: -webkit-linear-gradient(227deg, #fbeada, #f5ebe5, #ffdfc2);
    background: linear-gradient(227deg, #fbeada, #f5ebe5, #ffdfc2);
    clip-path: polygon(0 18%, 100% 1%, 100% 80%, 0% 100%);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.grid-container .container-Inicio {
    z-index: 2;
    grid-area: Slider;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.grid-container .container-Inicio .img1 {
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeIn 1s ease forwards;
}

.grid-container .container-Inicio .img1 img {
    height: 700px;
    object-fit: cover;
    padding: 20px 0;
}

.grid-container .container-Inicio .text {
    grid-column: 1;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 100px;
}

.grid-container .container-Inicio .text h3 {
    font-size: 80px;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeIn 1s ease forwards;
}

.grid-container .container-Inicio .text p {
    width: 80%;
    font-size: 20px;
    font-weight: normal;
    text-align: right;
    align-self: flex-end;
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeIn 1s ease forwards;
}

.grid-container .row3 {
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-row: 3;
    grid-column: 1/-1;
    background: -webkit-linear-gradient(227deg, #fbeada, #f5ebe5, #ffdfc2);
    background: linear-gradient(227deg, #fbeada, #f5ebe5, #ffdfc2);
}

.grid-container .SeccionProducto {
    z-index: 2;
    grid-area: SeccionProducto;
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto 500px;
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
    padding: 50px 0;
}

.grid-container .SeccionProducto h3 {
    grid-column: span 2;
    grid-row: span 1;
    padding: 10px;
    justify-self: center;
    font-size: 20px;
}

.grid-container .SeccionProducto img {
    grid-column: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: flex-end;

}

.grid-container .SeccionProducto .info {
    grid-column: 2/3;
    width: 30.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.125rem
}

.grid-container .SeccionProducto .info button {
    background-color: #B16927;
    border: 1px solid #B16927;
    color: white;
    user-select: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    align-self: flex-start;
    transition: background-color .6s, color .4s;
}

.grid-container .SeccionProducto .info button:hover {
    background-color: white;
    color: #B16927;
}

.grid-container .SeccionProducto .info .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3125rem;
}

.grid-container .SeccionProducto .info .flex p {
    font-size: 20px;
    color: #707070;
}

.grid-container .SeccionProducto .info .flex h4 {
    font-size: 24px;
}

.grid-container .SeccionCategorias {
    grid-area: SeccionCategorias;
    justify-self: center;
    width: 57%;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeIn 1s ease forwards;
}

.grid-container .SeccionCategorias .flex-container {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-between;

}

.grid-container .SeccionCategorias .title p,
.grid-container .SeccionProducto h3 {
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
}

.grid-container .SeccionCategorias .title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}

.grid-container .SeccionCategorias .title a {
    color: #B16927;
    text-decoration: underline;
}
.efecto2 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
    /* Aplica una animación automática */
}

.efecto3-1 {
    animation: fadeIn3 2s ease forwards;
    /* Aplica una animación automática */
}

.efecto3-2 {
    opacity: 1;
    animation: fadeIn2 1s ease forwards;
    /* Aplica una animación automática */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn2 {
    to {
        opacity: 0;
        transform: translateX(200px);
    }
}

@keyframes fadeIn3 {
    50% {
        opacity: 1;
        transform: translateX(200px);
        scale: 1.5;
    }

    100% {
        opacity: 0;
        transform: translateX(200px);
        scale: 1.5;
    }
}