@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.NombreProducto {
    font-size: 1.25rem;
}

.containerCart {
    width: 18.75rem;
    height: 28.5625rem;
    padding-bottom: .625rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.grey {
    filter: grayscale(100%);
}

.containerCategory {
    width: 210px;
    height: 210px;
    border-radius: .5rem;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
}

.containerCategory img {
    object-fit: cover;
    object-position: center;
    filter: brightness(0.85);
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 1
}

.containerCategory:hover img {
    transform: scale(1.2);
    filter: brightness(0.9);
    filter: blur(1.5px);
}

.containerCategory:hover p.nombreCategoria {
    background-color: rgba(177, 106, 39);

}


.containerCategory p.nombreCategoria {
    font-size: 14px;
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word;
    text-transform: uppercase;
    user-select: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 8px;
    z-index: 2;
    transition: background-color .3s ease;
}
