.container-CarritoPage {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr minmax(auto,700px) 700px 1fr;
    grid-template-rows: auto;
    row-gap: 60px;
    margin-bottom: 100px;
}

.container-CarritoPage h1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
}

/* Redireccion */
.container-redireccion {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-redireccion h2 {
    font-size: 35px;
    margin-bottom: 60px;
}

.container-redireccion svg {
    font-size: 60px;
    margin-bottom: 20px;
    animation: carita 2s ease-in-out infinite;
}

.container-redireccion h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.container-redireccion p {
    font-size: 23px;
    margin-bottom: 20px;
}

.container-redireccion h4 {
    font-size: 23px;
}

.container-redireccion a {
    font-size: 20px;
    color: #B16927;
    text-decoration: underline;
}

/* Items Container*/

.container-CarritoPage .items-container {
    grid-column: 2/3;
    position: -webkit-sticky;
    /* Soporte para navegadores antiguos */
    position: sticky;
    top: 100px;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: sticky;
}

.items-container .item {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.items-container .item .data {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    align-items: flex-start;

}

.items-container .item .data a {
    user-select: none;
}

.items-container .item .data img {
    grid-column: 1/2;
    grid-row: 1;
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.items-container .item .data .datos {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    overflow: hidden;
}

.items-container .item .data .datos h3 {
    color: black;
    font-size: 18px;
}

.items-container .item .data .datos p {
    font-size: 14px;
    color: #707070;
}

.items-container .item .data .datos p.price {
    color: #B16927;
}

.items-container .item .data .datos p.pricedsct {
    color: #707070;
    text-decoration: line-through;
}

.items-container .item .botones {
    background-color: #efefef62;
    width: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    font-size: 16px;
    height: fit-content;
    align-self: center;
    overflow: hidden;
}

.items-container .item .botones p {
    text-align: center;
    user-select: none;
}

.items-container .item .botones svg {
    cursor: pointer;
    box-sizing: content-box;
    flex-grow: 1;
    padding: 10px 0;
}

.items-container .item .botones svg:hover {
    background-color: rgba(112, 112, 112, 0.15);
}

.items-container .item .close-item {
    cursor: pointer;
    box-sizing: content-box;
    padding: 3px;
    border-radius: 4px;
    transition: all .4s;
}

.items-container .item .close-item:hover {
    fill: #B16927;
    background-color: rgb(248, 232, 210);
}

/* Datos Container*/
.container-CarritoPage .datos-container {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.datos-container .datos {
    background-color: #EFEFEF;
    width: 80%;
    padding: 70px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.datos-container .datos h2 {
    font-size: 26px;
    user-select: none;
    text-align: center;
}

.datos-container .datos form {
    width: 100%;


    & .part1,
    .part2,
    .part3 {
        padding: 5% 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    & .part2 {
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }
}





@keyframes carita {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

.datos-container .datos .total {
    padding: 0px 10% 30px 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datos-container .datos .total p {
    color: black;
    font-weight: bold;
}

.datos-container .datos button {
    width: 90%;
    color: white;
    background-color: #B16927;
    border: 1px solid #B16927;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/*Input Component*/
.input-component-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    animation: aparicion_simple 1s ease forwards;

    & label {
        font-size: 1rem;
        color: #707070;
        align-self: self-start;
    }

    & input {
        font-size: 16px;
        background-color: transparent;
        border-bottom: 1px solid #D8D8D8;
        text-align: center;
        outline: none;
        padding: 5px 3px 3px 3px;
    }

    & .error {
        background-color: hwb(11 87% 0%);
        width: fit-content;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        gap: .3125rem;
        font-size: 13px;
        padding: 1px 4px;
        margin-top: 5px;
        border-radius: 8px;
        animation: error_label 1s ease-out forwards;

        & p {
            font-size: 13px;
            color: #D82700;
            text-align: center;
        }

        & svg {
            stroke: #D82700;
            fill: #D82700;
        }
    }

    & .disable {
        font-size: 13px;
        padding: 1px 4px;
        margin-top: 5px;

        & p {
            color: transparent;
        }
    }
}

.input-component-radio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    user-select: none;

    & p {
        grid-column: 1;
        grid-row: 1;
        font-size: 1rem;
        color: #707070;
        justify-self: self-start;
        align-self: center;
    }

    & .error-entrega {
        grid-column: 1/-1;
        grid-row: 1;
        background-color: hwb(11 87% 0%);
        width: fit-content;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        gap: .3125rem;
        font-size: 13px;
        padding: 1px 4px;
        border-radius: 8px;
        margin-left: 100px;
        animation: error_label 1s ease-out forwards;

        & p {
            font-size: 13px;
            color: #D82700;
            text-align: center;
        }

        & svg {
            stroke: #D82700;
            fill: #D82700;
        }
    }

    & .check {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    & :last-child {
        grid-row: 3;
        grid-column: 1/-1;
    }

    & div.Direccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        animation: aparicion_simple 1s ease forwards;

        & h5 {
            text-transform: uppercase;
            font-size: .8rem;
            color: #707070;
        }

        & p {
            font-size: 1.2rem;
            color: black;
        }
    }
}

.input-component-checkbox {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.part3 .error-terminos {
    background-color: hwb(11 87% 0%);
    width: fit-content;
    display: flex;
    align-self: self-start;
    align-items: center;
    justify-content: center;
    gap: .3125rem;
    font-size: 13px;
    padding: 1px 4px;
    border-radius: 8px;
    animation: error_label 1s ease-out forwards;

    & p {
        font-size: 13px;
        color: #D82700;
        text-align: center;
    }

    & svg {
        stroke: #D82700;
        fill: #D82700;
    }

}

@keyframes aparicion_simple {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes error_label {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    60% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(1px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}