h3 {
    padding: 100px 3%;
    text-align: center;
}

.contenedor {
    z-index: 1;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    /* Oculta la barra en WebKit */
}