h3 {
    padding: 100px 3%;
    text-align: center;
}

.contenedor {
    z-index: 1;
    margin: auto;
    flex-wrap: wrap;
    width: 100vw; /* Ajusta el ancho al 100% del viewport */
    display: flex;
    justify-content: center; /* Ajusta la alineación horizontal */
    align-items: center; /* Alinea los productos verticalmente */
    gap: 30px;
    scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}
.contenedor-stop{
    height: 75vh;
    overflow: hidden;
}
*::-webkit-scrollbar {
    display: none;
    /* Oculta la barra en WebKit */
}