* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container-producto {
    padding-top: 15vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 700px 480px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". imagenes  datos ."
        ". .  . ."
    ;
    align-items: start;
    column-gap: 60px;
}


@media screen and (width<1300px) {
    .container-producto {
        padding-top: 15vh;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr minmax(auto,1000px) 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            ". imagenes ."
            ". datos ."
            ". . ."
        ;
        align-items: start;
        column-gap: 60px;
    }
}

/*Sección de Datos   ----------------------------------------------*/
.container-producto .datos {
    padding-top: 50px;
    grid-area: datos;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.datos .title {
    font-size: 1.625rem;
    color: black;
}

.datos .price {
    font-size: 1.25rem;
    color: #B16927;
}

.datos .price .Dscto {
    font-size: 1rem;
    color: #B4A186;
    text-decoration: line-through;
}

.datos .description {
    font-size: 1rem;
    color: #707070
}

.botones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.botones .Ver-Carrito,
.botones button.agregar {
    height: 3.125rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    border: 1px solid #B16927;
    color: #B16927;
    transition: opacity 1s ease;
}

.botones .Ver-Carrito.pricipal {
    background-color: #B16927;
    color: white;
}

.botones .Ver-Carrito:disabled {
    opacity: 0;
}

.botones .Ver-Carrito:hover {
    color: #B16927;
    background-color: white;
}

.sinStock {
    color: #b93f3f;

}

.noBotton {
    grid-column: 1;
    height: 3.125rem;
    width: 100%;
    background-color: transparent;
    user-select: none;
}

.botones button.agregar {
    grid-column: 1;
    border: 1px solid #B16927;
    color: white;
    background-color: #B16927;
    transition: all .6s ease;
}

.botones button.agregar:hover {
    background-color: white;
    color: #B16927;
}

.botones .operadores {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #EFEFEF;
    border-radius: 4px;
}

.botones .operadores p {
    user-select: none;
}

.botones .operadores .boton {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.botones .operadores .boton:hover {
    background-color: rgba(68, 68, 68, 0.02);
}

.botones .operadores .boton:active {
    background-color: rgba(68, 68, 68, 0.11);
}

.DatosExtras span {
    color: #707070;
}

/* Sección Imágenes  -----------------------------------------------*/

.imagenes {
    grid-area: imagenes;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    user-select: none;
    align-items: center;
}

.imagenes img {
    overflow: hidden;
    object-fit: contain;
}

.carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carrusel button {
    background-color: rgba(112, 112, 112, 0.3);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    cursor: pointer;
}

.carrusel button.B-Active {
    background-color: rgba(177, 106, 39, 0.5);

}

.carrusel button:hover {
    background-color: rgba(112, 112, 112, 0.5);
}